.contenedorConsultas, .contenedorPromos, .contenedorFotos {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.img-redes {
  transition-duration: 1s;
}
.img-redes:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.contactoBg, .desayunoInfantilBg, .desayunoPromoBg, .especialidadesBg, .postresBg, .tartasBg, .tortasBg, .rellenosBg, .coberturasBg, .bizcochuelosBg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cabecera {
  display: flex;
  align-items: center;
}

.cabecera h2 {
  padding: 0;
}

.logo {
  width: 8rem;
  height: auto;
}

.marca {
  font-family: "Great Vibes";
  font-size: 2.2rem;
  display: flex;
  margin: 0;
}

.separador {
  background-color: rgb(255, 255, 255);
  height: 1.8px;
  margin-top: 0;
  margin-bottom: 0;
}

* {
  font-family: "Dancing Script";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-image: url("../imgs/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 85%;
  margin: 0 auto;
}

main {
  min-height: 100vh;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
}

h3 {
  font-size: 1.4rem;
  padding-top: 1rem;
  margin: 0;
}

p {
  margin: 0.5rem;
  font-size: 1.3rem;
}

nav {
  border-radius: 15px;
  font-size: 1.2rem;
}

.navbar-toggler {
  margin: 3.5px;
  border-style: none;
}

.flexContenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.contenedorFotos {
  width: 30rem;
  transition-duration: 1s;
}
.contenedorFotos:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}

.contenedorPromos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 780px;
}

.fotos {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition-duration: 1s;
}
.fotos:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgb(233, 152, 152);
  transition: all 0.5s ease-in-out;
}

.contenedorConsultas {
  padding: 1rem;
  max-width: 400px;
}

.fuenteConsultas {
  font-family: "Verdana";
  font-size: 0.9rem;
}

.anchoSlider {
  max-width: 600px;
}

.fotoContacto {
  width: 100%;
  border-radius: 10px;
}

.bizcochuelosBg {
  background-image: url("../imgs/bizcochuelos.webp");
}

.coberturasBg {
  background-image: url("../imgs/coberturas.webp");
}

.rellenosBg {
  background-image: url("../imgs/rellenos.webp");
}

.tortasBg {
  background-image: url("../imgs/tortas.webp");
}

.tartasBg {
  background-image: url("../imgs/tartas.webp");
}

.postresBg {
  background-image: url("../imgs/postres.webp");
}

.especialidadesBg {
  background-image: url("../imgs/especialidades.webp");
}

.desayunoPromoBg {
  background-image: url("../imgs/desayunoPromo.webp");
}

.desayunoInfantilBg {
  background-image: url("../imgs/desayunoInfantil.webp");
}

.contactoBg {
  background-image: url("../imgs/cupcake.webp");
}

.textoCentrado {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 0 0.5rem 0 0.5rem;
}

.img-redes {
  width: 4rem;
  margin-bottom: 1rem;
}

.botonCompra {
  font-size: 0.8rem;
  font-family: Verdana;
  width: 45%;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease-in-out;
  margin-bottom: 1rem;
  height: 22px;
}
.botonCompra:hover {
  background-color: rgb(233, 152, 152);
}

.botonConsulta {
  font-size: 0.9rem;
  font-family: Verdana;
  width: 80%;
  border-radius: 10px;
  border: none;
  transition: background-color 0.5s ease-in-out;
  display: block;
  margin: 2rem auto;
  min-width: 200px;
  height: 22px;
}
.botonConsulta:hover {
  background-color: rgb(233, 152, 152);
}

@media (max-width: 380px) {
  .cabecera {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .ocultarFlechas {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
