// Variables

$fuenteGeneral: "Dancing Script";
$fuenteMarca: "Great Vibes";
$colorHover: rgb(233, 152, 152);
$colorBorde: rgb(204, 204, 204);
$colorSeparador: rgb(255, 255, 255);
$sombraTarjeta: 4px 4px 10px rgba(0, 0, 0, 0.2);