// Fotos
.flexContenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.contenedorFotos {
  @extend %contenedor;
  width: 30rem;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
  }
}

.contenedorPromos {
  @extend %contenedor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 780px;
}

.fotos {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition-duration: 1s;

  &:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px $colorHover;
    transition: all 0.5s ease-in-out;
  }
}

.contenedorConsultas {
  @extend %contenedor;
  padding: 1rem;
  max-width: 400px;
}

.fuenteConsultas {
  font-family: "Verdana";
  font-size: 0.9rem;
}

.anchoSlider {
  max-width: 600px;
}

.fotoContacto {
  width: 100%;
  border-radius: 10px;
}

// Fondos de los contenedores

.bizcochuelosBg {
  background-image: url("../imgs/bizcochuelos.webp");
  @extend %fondos;
}
.coberturasBg {
  background-image: url("../imgs/coberturas.webp");
  @extend %fondos;
}
.rellenosBg {
  background-image: url("../imgs/rellenos.webp");
  @extend %fondos;
}
.tortasBg {
  background-image: url("../imgs/tortas.webp");
  @extend %fondos;
}
.tartasBg {
  background-image: url("../imgs/tartas.webp");
  @extend %fondos;
}
.postresBg {
  background-image: url("../imgs/postres.webp");
  @extend %fondos;
}
.especialidadesBg {
  background-image: url("../imgs/especialidades.webp");
  @extend %fondos;
}
.desayunoPromoBg {
  background-image: url("../imgs/desayunoPromo.webp");
  @extend %fondos;
}
.desayunoInfantilBg {
  background-image: url("../imgs/desayunoInfantil.webp");
  @extend %fondos;
}
.contactoBg {
  background-image: url("../imgs/cupcake.webp");
  @extend %fondos;
}
