// Fotos
.flexContenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.contenedorFotos {
  @extend %contenedor;
  width: 30rem;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.03);
    transition: all 0.5s ease-in-out;
  }
}

.contenedorPromos {
  @extend %contenedor;
  width: 25rem;
  min-height: 70vh;
}

.fotos {
  width: 100%;
  border-radius: 15px;
  transition-duration: 1s;

  &:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px $colorHover;
    transition: all 0.5s ease-in-out;
  }
}

.contenedorConsultas {
  @extend %contenedor;
  padding: 1rem;
  max-width: 400px;
}

.fotoContacto {
  width: 100%;
  max-width: 300%;
  border-radius: 1rem;
}


// Fondos de los contenedores

.bizcochuelosBg {
  background-image: url("../imgs/bizcochuelos.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.coberturasBg {
  background-image: url("../imgs/coberturas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.rellenosBg {
  background-image: url("../imgs/rellenos.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.tortasBg {
  background-image: url("../imgs/tortas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.tartasBg {
  background-image: url("../imgs/tartas.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.postresBg {
  background-image: url("../imgs/postres.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.especialidadesBg {
  background-image: url("../imgs/especialidades.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.desayunoPromoBg {
  background-image: url("../imgs/desayunoPromo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.desayunoInfantilBg {
  background-image: url("../imgs/desayunoInfantil.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}