// Cabecera
.cabecera {
  display: flex;
  align-items: center;
}
.cabecera h2 {
  padding: 0;
}
.logo {
  width: 128px;
  height: auto;
}
.marca {
  font-family: $fuenteMarca;
  font-size: 2.2rem;
  display: flex;
  margin: 0;
}
.separador {
  background-color: $colorSeparador;
  height: 1.8px;
  margin-top: 0;
  margin-bottom: 0;
}
